
<div id="plan01">
    <div id="pole01">
      <div *ngFor="let item of db.stol5_1; let i = index">
        <div class="pozycja01">
          <div class="kolo">
            <div class="pole_drop01" [dropEnabled]="lockDrop(i,db.stol5_1)" [dragEnabled]="lockDrag(i,db.stol5_1)" (onDrop)="onItemDrop($event, i, db.stol5_1)"
            draggable droppable [dragData]="{name: item, index: i, db: 'stol5_1'}">{{item}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="stol"></div>
    <div id="pole02">
      <div  *ngFor="let item of db.stol5_2; let i = index">
        <div class="pozycja02" >
            <div class="kolo">
                <div class="pole_drop02"   [dropEnabled]="lockDrop(i,db.stol5_2)" [dragEnabled]="lockDrag(i,db.stol5_2)" (onDrop)="onItemDrop($event, i, db.stol5_2)"
                draggable droppable [dragData]="{name: item, index: i, db: 'stol5_2'}" > {{item}}</div>
              </div>
        </div>
      </div>
    </div>
  </div>



