#stol1 {
  position: absolute;


}
#stol2 {
  position: absolute;
  top: 461px;
}
#stol3 {
  position: absolute;
  left: 409px;
  top: 461px;

}
#stol4 {
  position: absolute;
  top: 461px;
  left: 809px;
}
#stol5 {
  position: absolute;
  top: 461px;
  left: 1209px;
}

#lista {
  position: absolute;
  left: 420px;
}

#test1 {
  position: relative;
  background: red;
  top: 800px;
}
